@model WebApplication2.Models.BooksContainer

@using WebApplication2.Models;

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<link href="~/Content/FixedStyle.css" rel="stylesheet" />

@if (Model != null)
{
    foreach (_Book book in @Model)
    {
        <div class="items" id=@string.Format("deleteBook" + book.Id)>

            @Html.DisplayFor(modeluser => book.BookName)

            @Html.DisplayFor(modeluser => book.Authors)

            <p>Total : </p>
            <div id=@string.Format("сhangeQuantity" + book.Id)>

                @Html.DisplayFor(modeluser => book.Total)
            </div>
            <p>Available : </p>
            <div id=@string.Format("сhangeQuantity" + book.Id)>
                @Html.DisplayFor(modeluser => book.Available)
            </div>


            @*____________History Form________________________________________________________*@
            @using (Ajax.BeginForm("ShowHistory", new AjaxOptions
            {
                UpdateTargetId = string.Format("asyncHistory" + book.Id)
            }))
            {
                <div>
                    <p>
                        <img src="@Url.Content(book.LinkPhoto)" width="90" height="150" class="leftimg">
                        <div id=@string.Format("asyncHistory" + book.Id)>
                        </div>
                    </p>
                </div>


                <button name="WatchHistory" type="submit" value=@book.Id>Watch History</button>


            }
            @*_________________________________________________________________________________*@

            @*_____________Quantity Form_______________________________________________________*@

            @using (Ajax.BeginForm("ChangeQuantity", new AjaxOptions
            {
                UpdateTargetId = string.Format("сhangeQuantity" + book.Id)
            }))
            {
                @Html.TextBox("сhangeQuantity")
                <button name="nameSubmit" type="submit" value=@book.Id>New Quantity</button>
            }
            @*_________________________________________________________________________________*@

            @*_____________Delete Form_______________________________________________________*@

            @using (Ajax.BeginForm("DeleteBook", new AjaxOptions
            {
                UpdateTargetId = string.Format("deleteBook" + book.Id)
            }))
            {
                if (book.Total > book.Available)
                {
                    @*Значит экземпляр книги у читателя*@
                    <button disabled title= "It's impossible to remove the book data">Unremovable</button>
                }
                else
                {
                    <button name="Delete" type="submit" value=@book.Id>Delete</button>
                }
            }
            @*_________________________________________________________________________________*@
        </div>

    }
    @*_____________Add Form_______________________________________________________*@

using (Ajax.BeginForm("AddBook", new AjaxOptions
{
    UpdateTargetId = "Add"
}))
{
    <div class="fixed-button" id="Add">
        <button class="fixed-button" name="AddBook" type="submit">Add Book</button>
    </div>
 }
    @*_________________________________________________________________________________*@

}
else
{
    <p> The failed access to the database!!!</p>
}
